$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "geoffgraham.animate.scss/animate.scss";
// endbower

@import "_font-face.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// colors
$blue-light:  #20a2ff;

// $brand-primary: $orange;
$page-bg-color: #0a0a0e;
// $link-color: $brand-primary;
$text-color: #fff;

// fonts
@include font-face('Samsung Interface', fonts/Samsung-Interface/samsungif_rg-webfont);
$font-family-samsungif: 'Samsung Interface', sans-serif;
$font-family-base: $font-family-samsungif;

// mixins
// todo: move to seperate file!
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

button.unstyled {
  border: 0;
  padding: 0;
  background: transparent;
}

.btn-dark {
  padding: 10px 20px;
  border: 1px solid #fff;

  &.active {
    background-color: #fff;
  }
}

body {
  background: $page-bg-color;
  color: $text-color;
  font: normal 18px/150% $font-family-samsungif;
}

.container {
  width: 100%;
  padding: 0;
}

.page-section-wrapper {
  border-bottom: 1px solid $text-color;

  &:last-child {
    border-bottom: 0;
  }

  .page-section {
    max-width: 1572px;
    margin: 0 auto;

    .page-section-inner {
      max-width: 1216px;
      margin: 0 auto;
    }

    &.dummy-content {
      .page-section-inner {
        padding: 25px 15px;
      }
    }
  }
}

.device-explorer {
  position: relative;

  .page-slide-nav {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -65px;
    z-index: 1000;
    opacity: 0;

    &.fade-in {
      @include fadeInUp(
        $duration: 300ms
      );
    }

    &.fade-out {
      @include fadeOut(
        $duration: 300ms
      );
    }

    li {
      height: 30px;
      width: 30px;
      -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;          

      span {
        display: block;
        width: 15px;
        height: 15px;
        margin: 0 auto;
        border: 2px solid $blue-light;
        border-radius: 50%;  
        @include vertical-align;
        @include transition(all 100ms ease);

        &:hover:not(.active) {
          cursor: pointer;
          height: 18px;
          width: 18px;
          @include transition(all 100ms ease);
        }

        &.active {
          background-color: $blue-light;
        }              
      }

      &:first-child {
        height: 42px;

        span {
          width: 25px;
          height: 25px;

          &:hover:not(.active) {
            height: 28px;
            width: 28px;
            @include transition(all 100ms ease);
          }
        }
      }
    }
  }

  .page-section-inner {
    height: 789px;
    overflow: hidden;
    position: relative;

    .page-slide {
      position: relative;
      overflow: hidden;
      height: 789px;

      &.intro {
        .photo-devices, .mobile-only-content  {
          display: none
        }

        .title {
          padding-top: 25px;
          text-align: center;

          h2 {
            display: inline-block;
            padding: 0 15px;
            font-size: 60px;
            margin-top: 0;
            position: relative;
            top: 10px;
          }
          
          p {
            display: inline-block;
            color: #b5bdc0;
            padding: 12px 15px;
            border-left: 1px solid #4e5058;
            font-style: italic;
          }
        }

        &.animate-prepare {
          .devices > li > img {
            opacity: 0;
          }
        }

        &.animate-on {
          .device-note-edge > img {
            @include fadeInUp(
              $duration: 1s
            );              
          }

          .device-note-4 > img {
            @include fadeInUp(
              $duration: 1s,
              $delay: .2s
            );              
          }

          .device-gear-s > img {
            @include fadeInUp(
              $duration: 1s,
              $delay: .4s
            );              
          }        
        }

        .devices {
          li {
            position: absolute;
            bottom: 0;
            text-align: center;

            div {
              margin: 0 auto 25px;
              display: inline-block;

              img {
                margin: 10px 15px;
              }

              a {
                float: right;
                width: 44px;
                height: 44px;
                background: transparent url(../images/circular-arrow.png) no-repeat;
                @include transition(transform 150ms ease);

                &:hover {
                  @include transform(rotate(90deg));
                  @include transition(transform 150ms ease);
                }
              }
            }

            &.device-note-edge {
              width: 38%;
              left: 1%;
              z-index: 500;

              div {
                position: relative;
                right: 28px;
              }
            }

            &.device-note-4 {
              width: 38%;
              left: 33%;
              z-index: 400;
            }
          
            &.device-gear-s {
              width: 34%;
              left: 66%;
              z-index: 300;

              div {
                img {
                  margin-top: 4px;
                }
              }
            }      
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Small devices (large desktops, 375px and down) */
@media (max-width: 375px) {

}

/* Large devices (large desktops, 1200px and down) */
@media (max-width: $screen-lg-min) {
  .device-explorer {
    .page-section-inner {
      .page-slide.intro {
        .title {
          p {
            display: block;
            border-left: 0;
          }
        }

        .devices li {
          bottom: -40px;

          div {
            margin-bottom: 10px;

            img {
              width: 60%;
              margin: 14px 0px 14px 10px;
            }
          }

          & > img {
            max-width: 90%;
          }

          &.device-note-edge {
            left: 3%;

            div {
              right: 38px;
            }
          }

          &.device-gear-s {
            left: 63%;

            div img {
              width: 45%;
              margin-right: 8px;
              margin-top: 11px;
            }
          }          
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and down) */
@media (max-width: $screen-sm-min) {
  .device-explorer {
    .page-section-inner {
      height: auto;

      .page-slide {
        display: none;
      }

      .page-slide.intro {
        height: auto;
        display: block;

        .devices {
          display: none;
        }

        .photo-devices {
          margin-top: 75px;
          display: block;
        }

        .intro-inner {
          background-color: black;
          position: relative;
          background: #000000;          

          &:after {
            bottom: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-color: rgba(0, 0, 0, 0);
            border-bottom-color: #000000;
            border-width: 20px;
            margin-left: -20px;
          }

          title {
            margin-bottom: 22px;

            h2 {
              font-size: 44px;
            }

            p {
              padding-top: 15px;
              padding-bottom: 15px;
              display: block;
              border-left: 0;
              padding: 3px 15px;
              font-size: 16px;              
            }
          }

          .mobile-only-content { display: block; }

          .mobile-device-buttons {
            text-align: center;

            a {
              margin-bottom: 15px;
              margin-right: 15px;
              width: 270px;
              height: 50px;
              display: inline-block;

              img {
                display: block;
                margin: 0 auto;
              }
            }
          }

          .carousel-controls {
            width: 95px;
            margin: 0 auto;

            li {
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background-color: #fff;
              margin: 0 8px;              
              display: inline-block;

              &.active {
                background-color: $blue-light;
              }
            }
          }
        }
      }
    }
  }
}