$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "_font-face.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// colors
$orange:  #fd6500;

// $brand-primary: $orange;
$page-bg-color: #0a0a0e;
// $link-color: $brand-primary;
$text-color: #fff;

// fonts
@include font-face('Samsung Interface', fonts/Samsung-Interface/samsungif_rg-webfont);
$font-family-samsungif: 'Samsung Interface', sans-serif;
$font-family-base: $font-family-samsungif;

// mixins
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

body {
  background: $page-bg-color;
  color: $text-color;
  font: normal 18px/150% $font-family-samsungif;
}

button.unstyled {
  border: 0;
  padding: 0;
  background: transparent;
}

.container {
  max-width: 1572px;
}

.slide-container {
  height: 789px;
  overflow: hidden;
  position: relative;
  //todo: adjust margin!
  margin: 10px auto;
  border-top: 1px solid $text-color;
  border-bottom: 1px solid $text-color;

  .slide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .title {
      padding-top: 25px;

      h1 {
        display: inline-block;
        padding: 0 15px;
        font-size: 60px;
        margin-top: 0;
        position: relative;
        top: 10px;
      }
      
      p {
        display: inline-block;
        color: #b5bdc0;
        padding: 12px 15px;
        border-left: 1px solid #4e5058;
      }
    }

    .devices {
      li {
        position: absolute;
        bottom: 0;

        div {
          height: 44px;

          a {
            float: right;
            width: 44px;
            height: 44px;
            background: transparent url(../images/circular-arrow.png) no-repeat;
            @include transition(transform 150ms ease);

            &:hover {
              @include transform(rotate(90deg));
              @include transition(transform 150ms ease);
            }
          }
        }

        &.device-note-edge {
          width: 38%;
          left: 1%;
          z-index: 500;
          // background: transparent url(../images/photo-galaxy-note-edge.png) left bottom 122px no-repeat;
          // background-size: contain;

          div {
            width: 264px;
            background: transparent url(../images/logo-galaxy-note-edge.png) no-repeat 0 9px;
          }
        }

        &.device-note-4 {
          width: 40%;
          left: 33%;
          z-index: 400;
          // background: transparent url(../images/photo-galaxy-note-4.png) left bottom 122px no-repeat;

          div {
            width: 250px;
            background: transparent url(../images/logo-galaxy-note-4.png) no-repeat 0 9px;
          }
        }
      
        &.device-gear-s {
          width: 34%;
          left: 66%;
          z-index: 300;
          // background: transparent url(../images/photo-gear-s.png) left bottom 122px no-repeat;

          div {
            width: 168px;
            background: transparent url(../images/logo-gear-s.png) no-repeat 0 6px;
          }
        }      
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Large devices (large desktops, 1200px and down) */
@media (max-width: $screen-lg-min) {
  .container {
    width: 100%;
  }
}