$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "geoffgraham.animate.scss/animate.scss";
// endbower

@import "_font-face.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// colors
$blue-light:  #20a2ff;

// $brand-primary: $orange;
$page-bg-color: #0a0a0e;
// $link-color: $brand-primary;
$text-color: #fff;

// fonts
@include font-face('Samsung Interface', '../fonts/Samsung-Interface/samsungif_rg-webfont', null, null, eot woff svg truetype);
@include font-face('Samsung Interface', '../fonts/Samsung-Interface/samsungif_bd-webfont', bold, null, eot woff svg truetype);
$font-family-samsungif: 'Samsung Interface', sans-serif;
$font-family-base: $font-family-samsungif;

// mixins
// todo: move to seperate file!
@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

// This will add a 20px black arrow on top of the element. If we
// need additional types of arrows (different color, border, position),
// this could be abstracted to accomodate that.
// obtained from: http://cssarrowplease.com/
@mixin top-black-arrow {
  position: relative;
  background: #000000;          

  &:after {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-bottom-color: #000000;
    border-width: 20px;
    margin-left: -20px;
  }
}

a:hover {
  text-decoration: none;
}

button.unstyled {
  border: 0;
  padding: 0;
  background: transparent;
}

.btn {
  padding: 13px 60px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 0;
  font-size: 16px;
  @include transition(all 300ms ease);

  &.btn-dark {
    border: 1px solid #fff;

    // todo: for logo buttons need to make sprite with dark colored logo
    // when bg is white
    &.active {
      background-color: #fff;
    }
  }

  &.btn-blue {
    border: 1px solid $blue-light;
    color: $blue-light;

    &:hover {
      background-color: $blue-light;
      color: #fff;
    }
  }
}

body {
  background: $page-bg-color;
  color: $text-color;
  font: normal 18px/150% $font-family-samsungif;
}

.container {
  width: 100%;
  padding: 0;
}

.page-section-wrapper {
  border-bottom: 1px solid $text-color;

  &:last-child {
    border-bottom: 0;
  }

  .page-section {
    max-width: 1572px;
    margin: 0 auto;

    .page-section-inner {
      max-width: 1216px;
      margin: 0 auto;
    }

    &.dummy-content {
      .page-section-inner {
        padding: 25px 15px;
      }
    }
  }
}

.device-explorer {
  &.page-section-wrapper {
    position: relative;

    .page-slide-nav {
      position: absolute;
      top: 50%;
      right: 15px;
      margin-top: -65px;
      z-index: 1000;
      opacity: 0;

      &.fade-in {
        @include fadeInUp(
          $duration: 600ms
        );

        opacity: 1;
      }

      &.fade-out {
        @include fadeOut(
          $duration: 300ms
        );
      }

      li {
        height: 30px;
        width: 30px;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        transform-style: preserve-3d;

        span {
          display: block;
          width: 15px;
          height: 15px;
          margin: 0 auto;
          border: 2px solid $blue-light;
          border-radius: 50%;  
          @include vertical-align;
          @include transition(all 100ms ease);

          &:hover:not(.active) {
            cursor: pointer;
            height: 18px;
            width: 18px;
            @include transition(all 100ms ease);
          }

          &.active {
            background-color: $blue-light;
          }              
        }

        &:first-child {
          height: 42px;

          span {
            width: 25px;
            height: 25px;

            &:hover:not(.active) {
              height: 28px;
              width: 28px;
              @include transition(all 100ms ease);
            }
          }
        }

        .tooltip {
          margin-left: -12px;

          .tooltip-arrow {
            border-left-color: $blue-light;
            right: -7px;
            border-width: 6px 0px 6px 12px;             
          }

          .tooltip-inner {
            background-color: $blue-light;
            text-transform: uppercase;
            padding: 5px 8px;
            border-radius: 0;
            font-size: 14px;
            font-weight: bold;            
          }
        }
      }
    }

    .page-section-inner {
      height: 789px;
      overflow: hidden;
      position: relative;

      .page-slide {
        position: relative;
        overflow: hidden;
        height: 789px;

        // putting any top / bottom padding on this element will
        // likely cause the page slide js to not work properly. If
        // you need padding, please apply it to an inner wrapper.

        .content {
          text-align: center;
          padding: 0 20px;
          position: relative;
          z-index: 200;
        }

        h2 {
          font-size: 60px;
          margin: 30px 0 20px;
        }

        p {
          line-height: 175%;
        }

        .btn-bar {
          margin: 35px 0;

          .btn {
            margin: 0 8px;
          } 
        }

        .page-slide-image {
          position: absolute;
          z-index: 100;
        }

        &.content-center {
          .content {
            padding-top: 60px;
          }

          .page-slide-image {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
          }
        }

        &.content-left {
          .content {
            position: absolute;
            top: 50%;
            left: 0;
            right: 50%;
            transform: translateY(-50%);

            .content-inner {
              display: inline-block;
              text-align: left;

              .btn-bar {
                margin-bottom: 0;

                .btn:first-child {
                  margin-left: 0;
                }
              }
            }
          }

          .page-slide-image {
            top: 0;
            bottom: 0;
            left: 50%;
            right: 0;
          }          
        }

        &.intro {
          .photo-devices, .mobile-only-content  {
            display: none
          }

          .title {
            padding-top: 25px;
            text-align: center;

            h2 {
              display: inline-block;
              padding: 0 15px;
              margin-top: 0;
              position: relative;
              top: 10px;
            }
            
            p {
              display: inline-block;
              color: #b5bdc0;
              padding: 12px 15px;
              border-left: 1px solid #4e5058;
              font-style: italic;
            }
          }

          &.animate-prepare {
            .devices > li > img {
              opacity: 0;
            }
          }

          &.animate-on {
            .device-note-edge > img {
              @include fadeInUp(
                $duration: 1s
              );              
            }

            .device-note-4 > img {
              @include fadeInUp(
                $duration: 1s,
                $delay: .2s
              );              
            }

            .device-gear-s > img {
              @include fadeInUp(
                $duration: 1s,
                $delay: .4s
              );              
            }        
          }

          .devices {
            li {
              position: absolute;
              bottom: 0;
              text-align: center;

              div {
                margin: 0 auto 18px;
                display: inline-block;

                img {
                  margin: 10px 15px;
                  display: inline-block;
                  vertical-align: baseline;
                }

                a {
                  display: inline-block;
                  width: 44px;
                  height: 44px;
                  background: transparent url(../images/circular-arrow.png) no-repeat;
                  @include transition(transform 150ms ease);

                  &:hover {
                    @include transform(rotate(90deg));
                    @include transition(transform 150ms ease);
                  }
                }
              }

              &.device-note-edge {
                width: 38%;
                left: 1%;
                z-index: 500;

                div {
                  position: relative;
                  right: 28px;
                }
              }

              &.device-note-4 {
                width: 38%;
                left: 33%;
                z-index: 400;

                div {
                  position: relative;
                  right: 8px;
                }
              }
            
              &.device-gear-s {
                width: 34%;
                left: 66%;
                z-index: 300;

                div {
                  position: relative;
                  right: 25px;

                  img {
                    vertical-align: bottom;
                  }
                }
              }      
            }
          }
        }

        &.s-pen {
          .content p {
            max-width: 435px;
          }
        }

        &.display {
          .content {
            padding-top: 40px;
          }
        }
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {

}

/* Large devices (large desktops, 1200px and down) */
@media (max-width: $screen-lg-min) {
  .device-explorer.page-section-wrapper {
    .page-section-inner {
      .page-slide {
        .content {
          h2 {
            margin: 15px 0 10px;
          }

          .btn-bar {
            margin: 25px 0;
          }
        }

        &.intro {
          .title {
            p {
              display: block;
              border-left: 0;
            }
          }

          .devices li {
            bottom: -40px;

            div {
              margin-bottom: 10px;

              img {
                width: 45%;
              }
            }

            & > img {
              max-width: 90%;
            }

            &.device-note-edge {
              left: 3%;

              div {
                right: 38px;
              }
            }

            &.device-gear-s {
              left: 63%;

              div img {
                width: 40%;
                margin-bottom: 14px;
              }
            }          
          }
        }
      }
    }
  }
}

/* Larger Than Small devices (tablets, 769px and --> UP) */
@media (min-width: $screen-sm-min + 1) {
  .device-explorer.page-section-wrapper {
    background: black url(../images/bg-page-slider.jpg) center center / cover;

    .page-section-inner .page-slide {
      &.animate-prepare {
        .page-slide-image {
          opacity: 0;
        }
      }

      &.animate-on {
        .page-slide-image {
          @include fadeInUp(
            $duration: 1s
          );              
        }
      }

      &.notifications {
        .page-slide-image {
          background: transparent url(../images/desktop-photo-notifications.png) bottom center / 100% auto no-repeat;
        }
      }

      &.s-pen {
        .page-slide-image {
          background: transparent url(../images/photo-pen.png) bottom left / auto 90% no-repeat;
        }
      }

      &.display {
        .page-slide-image {
          background: transparent url(../images/desktop-photo-display.png) bottom center / 100% auto no-repeat;
        }
      }    
    }
  }
}

/* Larger Than Small devices, Smaller Than Medium devices */
@media (min-width: $screen-sm-min + 1) and (max-width: $screen-md-min) {
  .device-explorer.page-section-wrapper {
    .page-section-inner {
      .page-slide {
        &.content-center .content {
          padding-top: 25px;
        }

        .content {
          h2 {
            margin: 10px 0 5px;
            font-size: 52px;
          }

          .btn-bar {
            margin: 20px 0;
          }
        }

        &.content-left {
          .btn-bar {
            .btn {
              margin-right: 5px;
              margin-left: 5px;
              padding-right: 35px;
              padding-left: 35px;
            }
          }
        }

        &.display {
          .page-slide-image {
            background-position: bottom -10px center;
            background-size: 95%;
          }
        }        
      }
    }
  }
}

/* Small devices (tablets, 768px and --> DOWN) */
@media (max-width: $screen-sm-min) {
  .device-explorer.page-section-wrapper {
    .page-slide-nav {
        display: none;
    }

    .page-section-inner {
      height: auto;

      .page-slide {
        display: none;
      }

      .page-slide.intro {
        height: auto;
        display: block;

        .devices {
          display: none;
        }

        .photo-devices {
          margin-top: 75px;
          display: block;
        }

        .intro-inner {
          background-color: black;
          @include top-black-arrow;

          title {
            margin-bottom: 22px;

            h2 {
              font-size: 44px;
            }

            p {
              padding-top: 15px;
              padding-bottom: 15px;
              display: block;
              border-left: 0;
              padding: 3px 15px;
              font-size: 16px;              
            }
          }

          .mobile-only-content { display: block; }

          .mobile-device-buttons {
            margin-bottom: 15px;
            text-align: center;

            a {
              margin-bottom: 15px;
              margin-right: 15px;
              padding-right: 0;
              padding-left: 0;
              width: 270px;
              height: 50px;
              display: inline-block;

              img {
                display: block;
                margin: 0 auto;
              }
            }
          }

          .carousel-controls {
            margin: 0 auto;

            li {
              width: 13px;
              height: 13px;
              border-radius: 50%;
              background-color: #fff;
              margin: 20px 8px;
              display: inline-block;
              cursor: pointer;

              &.active {
                background-color: $blue-light;
              }
            }
          }

          .carousel-photos {
            background: black url(../images/bg-mobile-carousel.png) center center / cover;            

            .item {
              @include transition(0.3s ease-in-out left);

              &.animate-prepare {
                opacity: 0;
              }

              &.animate-on:not(.display) {
                @include fadeInUp(
                  $duration: 300ms
                );
              }

              &.animate-on.display {
                @include fadeInRight(
                  $duration: 300ms
                );
              }              
            }

            .notifications {
              background: transparent url(../images/photo-notifications.png) center center / 100% auto no-repeat;
            }

            .pen {
              background: transparent url(../images/photo-pen.png) top 30px center/auto 100% no-repeat;
            }

            .display {
              background: transparent url(../images/photo-display.png) center left / 100% auto no-repeat;
            }
          }

          .mobile-sub-content {
            padding: 5px 20px 15px;
            text-align: center;
            @include top-black-arrow;

            h3 {
              font-size: 30px;
              margin-bottom: 15px;
              margin-top: 10px;
            }

            p {
              line-height: 32px;


            }

            .carousel-text-content {
              .item {
                position: realtive;
                @include transition(0.3s ease-in-out left);

                .buttons {
                  margin: 30px auto 0;

                  .btn {
                    margin-bottom: 20px;
                    width: 175px;
                    height: 50px;
                    margin-right: 10px;
                    margin-left: 10px;
                    padding-right: 10px;
                    padding-left: 10px;                    
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Smallest devices (tablets, 375px and down) */
@media (max-width: 375px) {
  .device-explorer.page-section-wrapper .page-section-inner .page-slide.intro .intro-inner {
    .mobile-sub-content .carousel-text-content .buttons .btn {
      margin-right: 0;
    } 
  }
}